spring:
  datasource:
    url: jdbc:postgresql://db:5432/app_db
    username: app_user
    password: app_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080